table{
	border-collapse: collapse;
	width: 100%;
	border: 1px solid #ddd;
	font-size: 18px;
	margin-top: 10px;
}

table th, table td{
	text-align: left;
	padding-top: 12px;
	padding-left: 12px;
	padding-bottom: 12px;
}

table tr{
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}