<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Event Selection</title>
  
  
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.min.css'>

      <link rel="stylesheet" href="C:\Users\nikhi\OneDrive\Desktop\proojectF\static\introl\css\style.css">

  
</head>

<body>

  <div class="heading"><font size="6"><p align="center">Select Your Event  !!!</p></font></div>
<div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="container-general">
            <div class="gallery-wrap wrap-effect-1">
              <div class="item" onclick="window.location.href='/form'"></div>
              <div class="item" onclick="window.location.href='/500'"></div>

              <div class="item"></div>

              <div class="item" onclick="window.location.href='/ud1'"></div>
              <div class="item" onclick="window.location.href='/ud2'"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.min.js'></script>

  

    <script  src="{{url_for('static',filename='introl/js/index.js')}}"></script>




</body>

</html>
