<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Loading</title>
  
  
  
      <link rel="stylesheet" href="{{url_for('static',filename='looading/css/style.css')}}">

  
</head>

<body>

  <div class="alfa">

        <div class="mov">

            <div class="frente">
                <p id="pp">0%</p>
            </div>
            <div class="tras">

            </div>
            <div class="meio">

            </div>

        </div>
        <h1 style="padding-top: 400px; text-align: center;">Your Acknowledgment is on the way !!!</h1>

    </div>
  
  

    <script  src="{{url_for('static',filename='looading/js/index.js')}}"></script>

    <script type="text/javascript">
      user='{{uid}}';
    </script>


</body>

</html>
