<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Margarine|Rubik:400,500" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css'>

      <link rel="stylesheet" href="{{url_for('static',filename='process/1/css/style.css')}}">
  <title>Process of Marrage</title>
  
  
  
      <link rel="stylesheet" href="{{url_for('static',filename='process/css/style.css')}}">

  
</head>

<body>

  <body>
	<div class="container bubbles">
		<div id="sec1" class="section">
			<h1>Part 1</h1>
			<h2>Nischay Tamulam</h2>
			<p>During arranged marriage, the horoscope of the prospective bride and groom are matched. Weddings are fixed only when the starts align perfectly, predicting a happy and prosperous future. The parents agree to the match and exchange a plate containing betel leaves and betel nuts. Nischay Tamulam is the kadda equivalent of an engagement ceremony. Parents of the groom visit the bride’s place and offer her a saree, blouse piece, coconut and sweets.</p><p> The bride’s parents also visit the groom’s house to gift him dhoti, coconut, fruits and sweets. The date of the marriage is generally decided by the priest during this event.</p>
		</div>
		<div id="sec2" class="section">
			<h1>Part 2</h1>
			<h2>Naandi</h2>
			<p>A few days prior to the wedding, the Naandi ceremony is performed in both the bride and groom’s places. It is basically a puja performed by the family priest to ensure that the wedding ceremony goes without any hitches or problems</p><p>A traditional copper pot or kalash filled with holy water is placed with a coconut on top, and this marks the beginning of the wedding celebrations. The pot symbolizes a pot of Amrit or the Nectar of Life, and this ceremony ensures that the couple is blessed a life of abundance, health, wisdom, and longevity..</p><p>The first wedding invitation is presented to the Almighty during this ceremony so that he will bless the would-be couple with his presence and remove all obstacles from their life paths. </p>
		</div>
		<div id="sec3" class="section">
			<h1>Part 3</h1>
			<h2></h2>
			<p>This is a really fun-filled ritual when the groom pretends to get angry that no one is searching for a suitable bride for him. He threatens his family that he will set out for a pilgrimage to Kashi carrying a walking stick, a dhoti, an umbrella, a fan, and edibles like a coconut along with some rice. As he is about to leave the house, the groom’s maternal uncle stops him and convinces him not to leave and puts forward the girl that had been chosen for him.</p><p>Sometimes, it is also customary for the maternal uncle to offer his daughter as a suitable bride for the boy. The groom relents on hearing this and decides to come back home to get married to his bride.</p>
		</div>
	</div>


		<div class="container bubbles">
		<div id="sec4" class="section">
			<h1>Part 4</h1>
			<h2>DevKarya</h2>
			<p>On the day of the wedding, as the groom is leaving the house, he seeks blessings from all the deities by visiting temples in his neighborhood. The things that are to be used during the wedding are placed in front of lord Ganesh to seek his blessing and also sanctifying the objects.</p>
			<h3>Greeting Groom’s Party</h3>
			<p>The groom and the wedding party is welcomed at the gate of the venue where five Sumangalis or married women take their turn to perform an arti of the groom before ushering him in.
		</div>
		<div id="sec5" class="section">
			<h1>Part 5</h1>
			<h2>Wedding Attire</h2>
			<p>Kannadigas are sticklers to tradition when it comes to the wedding attires. The groom dresses up in a white veshti or dhoti worn in typical south Indian style around the waist. It may be a simple cotton one or may be made of silk, with thin but ornate borders. They pair the veshti with a white </p><p>kurta or sherwani, but during the wedding rituals, the groom has to wear a white silk scarf matching with his veshti known as Angavestram. He has to wear a turban like headgear known as Pheta or Pitambar, which may be white or orange in color. The groom carries a stick in his right hand and </p><p>the stick needs to be blesses by the priest in a temple prior to the wedding day. Among the Baliga community of Karnataka, the groom wears a Veshti with a matching Valli. He pairs it with a white shirt along with the Pheta.</p>
		</div>
		<div id="sec6" class="section">
			<h1>Part 6</h1>
			<h2>Mandap Puja</h2>
			<p>Mandap refers to the area where all the rituals of the impending wedding are to be performed. Before any of that starts, the priest performs a puja that aims to purify the mandap and the wedding venue as well. This is known as Mandap Puja.</p>
		</div>
	</div>

		<div class="container bubbles">
		<div id="sec7" class="section">
			<h1>Part 7</h1>
			<h2>Var Puja</h2>
			<p>In Hindu traditions, the groom is considered to be the reincarnation of Lord Vishnu. In that respect, he is worshipped by the bride’s party. He is accompanied to the wedding mandap by his future father-in-law and is asked to a seat of prominence. His feet are then washed by the bride’s father and a puja is performed in his honor</p><p> He is also presented with a set of silk dhoti and scarf known as pitambar. He is to take part in the wedding rituals wearing the clothes presented to him by the bride’s parents.. </p>
		</div>
		<div id="sec8" class="section">
			<h1>Part 8</h1>
			<h2>Jaimala</h2>
			<p>The bride is then brought to the wedding mandap. Her face remains covered behind a fan made up of peacock feathers. She is generally accompanied by her sister who holds the peacock feather’s fan shielding the bride’s face. Te bride takes her place at the mandap and a cloth curtain is placed between the bride and groom preventing them from seeing each other.</p><p> The priest chants the opening mantras of the wedding rituals and the curtain is gradually removed enabling the couple to lay eyes on each other for the first time. The bride and the groom then exchange Mala or Flower garlands three times</p>
		</div>
		<div id="sec9" class="section">
			<h1>Part 9</h1>
			<h2>Dhareherdu</h2>
			<p>This Kannada custom is akin to the Kanyadaan ceremony in Hindu weddings, but has been modified to become unique for the community. The bride’s right hand is placed on the groom’s right hand and a coconut along with a betel leaf is placed on top of the joined hands.</p><p>The bride’s parents shower their blessings and approval of this union by pouring holy water, preferably from the River Ganges known as dhara on top of the couple’s joined hands.</p>
		</div>
	</div>

	<div class="container bubbles">
		<div id="sec10" class="section">
			<h1>Part 10</h1>
			<h2>Saptapadi </h2>
			<p>A nuptial knot is tied between the ends of the bride and groom’s attires signifying an unfailing bond established between two souls. The couple then circumambulates the sacred fire seven times; this ritual is termed as Saptapadi. Through these circumambulations, the bride follows the groom and together they utter the seven sacred vows of marriage</p><p> After the Saptapadi the couple sits down, with the bride sitting on the groom’s left and the groom ties the mangalsutra around the bride’s neck assisted by five Sumangalis or married women. This officially concludes the wedding, and the couple gets up and goes over to seek the blessings from the elders of both families. </p>
		</div>
		<div id="sec11" class="section">
			<h1>Part 11</h1>
			<h2>Post-wedding Rituals</h2>
			<h3>Okhli</h3>
			<p>Post-wedding games are generally played between the members of the two families to break the ice between them and especially the newly married couple, who might be meeting each other for the first time during their wedding as a result of an arranged marriage. Okhli is one such post wedding game played by Kannadigas after the wedding rituals have been completed and the bride and groom are relaxing. The groom’s ring is dropped in a vessel containing milk or colored water. The bride and her brother have to find the ring from the vessel.</p><p>  Three rounds of the game are played. If the bride is successful in finding the ring, then it is implied that she will be able to handle any challenge marital life throws at her in subsequent times.</p>
		</div>
		<div id="sec12" class="section">
			<h1>Part 12</h1>
			<h2>Vidaai</h2>
			<p>TThe bride finally bids an emotional and tearful goodbye to her family and paternal house before setting off for the groom’s house. They send her off to her in-law’s house with gifts that are required to set up a new home which includes a cot, cooking utensils, umbrella and sweets. The bride’s brother accompanies her to her new place. He stays there for the night and departs the next morning.</p>
		</div>
	</div>
	<div class="container bubbles">
		<div id="sec13" class="section">
			<h1>Part 13</h1>
			<h2>GrihaPravesh</h2>
			<p>The bride is generally given a warm ceremonial welcome as she arrives at her in-laws house. Her mother-in-law performs a welcoming aarti and welcomes her in the house. A vessel filled with rice up to the brim is placed on the threshold signifying the existing wealth of the house. On her way in, the bride is to turn over the vessel with her right foot symbolizing that her arrival has increased the wealth and prosperity of the house manifold resulting in the vessel overflowing.</p><p> The bride is gifted five sarees by her husband and she is to wear a saree for various post-wedding rituals.</p>
		</div>
		<div id="sec14" class="section">
			<h1>Part 14</h1>
			<h2>Jaimala</h2>
			<p>The bride is then brought to the wedding mandap. Her face remains covered behind a fan made up of peacock feathers. She is generally accompanied by her sister who holds the peacock feather’s fan shielding the bride’s face. Te bride takes her place at the mandap and a cloth curtain is placed between the bride and groom preventing them from seeing each other.</p><p> The priest chants the opening mantras of the wedding rituals and the curtain is gradually removed enabling the couple to lay eyes on each other for the first time. The bride and the groom then exchange Mala or Flower garlands three times</p>
		</div>
		<div id="sec15" class="section">
			<h1>Part 15</h1>
			<h2>Reception and others</h2>
			<p>TDuring this ceremony, the groom decides upon a new name for his new bride and writes the same on a plate of rice with his ring. The bride accepts the plate of rice from him indicating that she has accepted her new name.</p><p>The bride’s parents arrive at the groom’s house on the second day of marriage and take the newlywed couple to their house where the couple is to stay for at least one night before returning back to the groom’s house.</p><p>A reception is held by the groom’s family with the aim of introducing the bride to relatives, friends and near and dear ones.</p>
		</div>
	</div>


<div class="main-content">
  <div class="item button-jittery" style="--bg-color: #f1c40f;">
    <button onclick="window.location.href='/looading/{{uid}}'">Click Me!</button>
    <div class="name"></div>
  </div>
  
</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
</body>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/13.1.3/nouislider.min.js'></script>

  

    <script  src="{{url_for('static',filename='process/js/index.js')}}"></script>




</body>

</html>
